* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

html,
body {
    height: 100%;
    width: 100%;
}


.navbar {
    background-color: white;
}

a.nav-link.active,
a.nav-link {
    color: black !important;
}